@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UniqueDrinks</h1>
    <h4 class="active">Toda a bebida que procura nós temos!!!!</h4>
    <br />
    <img class="img-fluid" src="~/fotos/menuBar.jpg" />
</div>
